services:
  - type: web
    name: ecoglance-app
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn src.app:app --bind 0.0.0.0:$PORT --timeout 120
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SUPABASE_URL
        value: https://mhzmapbbfaukwppnrahr.supabase.co
      - key: SUPABASE_KEY
        value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1oem1hcGJiZmF1a3dwcG5yYWhyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE1NTU3MTgsImV4cCI6MjA4NzEzMTcxOH0.o6UFA4l5ec6eFYHQrctmqYzWkglYMGKb-51_meceEaw
      - key: SUPABASE_SERVICE_KEY
        value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1oem1hcGJiZmF1a3dwcG5yYWhyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTU1NTcxOCwiZXhwIjoyMDg3MTMxNzE4fQ.nbQwG32NroucPR24qhyeadJintvYQdmiNB5buwZKY1Y
      - key: SMTP_EMAIL
        value: ganeshkoilada1247@gmail.com
      - key: SMTP_PASSWORD
        value: ifsy uivk jzpt jjce
      - key: SECRET_KEY
        generateValue: true
